

/* Hero Section */
.hero-section {
    background: url(../images/catkeyboard.webp);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.bg-light {
    background-color: red;
}

.hero-section h1 {
    font-weight: 700;
}

.hero-section .lead {
    font-size: 1.5rem;
}

.work-card img {
    height: 300px;
    object-fit: cover;
    border-radius: 0;
}

h2 {
    font-weight: 700;
    color: #333;
}
{
<div class="modal fade" id="proj1details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
}